[PI05]
depth = 17
image_width = 224
image_height = 224

[SigLIP]
width = 1152
depth = 4
patch_width = 14
patch_height = 14
num_heads = 32
mlp_dim = 256

[VLM]
width = 2048
max_token_len = 200
vocab_size = 257152
#  Task/State are Already Tokenized: tokenized(1), otherwise(0)
tokenized = 0
action_bin_size = 256
tokenizer_model = ./models/paligemma_tokenizer.model
backbone_model = ./models/pi05_base/safetensors/model.safetensors
#  Freeze backbone llm : freeze gradient(1), update gradient(0)
freeze = 0

[ActionExpert]
width = 1024
action_horizontal = 50
action_dim = 32
state_lowerbound = -1.0
state_upperbound = 1.0